html {
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    margin: 0;
    /*bitwork design richtlinien* hintergrund verlauf/
                background: rgb(118, 118, 118); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(118, 118, 118, 1) 0%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(118, 118, 118, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(118, 118, 118, 1) 0%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(118, 118, 118, 1) 0%, rgba(240, 240, 240, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(118, 118, 118, 1) 0%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(118, 118, 118, 1) 0%, rgba(240, 240, 240, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*überschriften auf bitwork blau ändern*/
h1 {
    color: rgb(0,152,190);
}

h2 {
    color: rgb(0,152,190);
}

h3 {
    color: rgb(0,152,190);
}

h4 {
    color: rgb(0,152,190);
}

.Content-Main {
    /*max-width: 1000px;*/
    padding: 19px 29px 29px;
    margin: 0 0px 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#txtSuche {
    width: 250px;
}

#ContentMain {
    width: 90%;
}

.col-xs-12.col-md-3.col-sm-4.bitworkPadding {
    padding-top: 30px;
    padding-right: 5px;
}

/*button Farbe auf bitwork blau anpassen*/
.btn-primary {
    color: #fff;
    background-color: #0098BE;
    border-color: #0098BE;
}
/*Farbe und höhe der pills ändern*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #0098BE;
    height: 100%;
}
/*höhe der nav pills ändern*/

.nav-stacked > li {
    float: none;
    height: 85px;
}

    .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0;
        height: 85px;
    }

/*Anpassen der maximalen THumbnail gröse, damit unterschiedliche Bilder das Layout nicht zerreissen*/
.thumbnail {
    min-height: 400px;
    max-height: 700px;
  }
/*anpassen der bild größe in den thumbnails*/
.thumbnail img {
       max-height: 150px; /*min-width:50px; max-width:200px;*/
}
/*// or whatever height you desire*/

.secondnavbar {
    background-color: white;
    top: 60px;
}

/*Anpassen der maximalen THumbnail gröse, damit unterschiedliche Bilder das Layout nicht zerreissen*/
.thumbnail-login {
    min-height: 100px;
    max-height: 105px;
}
.thumbnail-login img {
     min-height: 0;
    max-height: none; /*min-width:50px; max-width:200px;*/

}
#DivNavigateBackwards {
    visibility: hidden;
}

.merged .input-group-addon {
    border-right: 0px;
    background-color: #FFFFFF;
}
.merged input {
    border-left: 0px;
    background-color: #FFFFFF;
     width: 50%;
}

.half {
  width: 25%;
}